@font-face {
  font-family: 'High-Speed';
  src: url(../fonts/HighSpeed/regular.ttf);
}

@font-face {
  font-family: 'StratumNo2';
  src: url(../fonts/StratumNo2/bold.otf);
}

:root {
  color-scheme: light;
}

* {
  user-select: none;
  font-family: StratumNo2;
  scrollbar-color: #888 #333;
}

body {
  visibility: hidden;
  margin: 0;
  overflow-y: scroll;
}

#divBackground {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-image: 
    linear-gradient(to top, black 0%, transparent 100%),
    url(../img/background.jpg);
  background-size: auto 100%;
  background-position: center;
} 

@media(min-aspect-ratio: 4800/2480) {
  #divBackground {
    background-size: 100% auto;
  }
}

#divContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#h1Title {
  font-family: High-Speed;
  font-size: 8vh;
  margin: 5vh 0 2.5vh 0;
}

#divResults {
  display: flex;
  flex-direction: column-reverse;
  width: 40vh;
  height: 20vh;
  overflow-y: auto;
}

.divResult {
  background-color: #404040c0;
  font-size: 2.5vh;
  padding: 1vh;
}

.divResult:hover {
  filter: brightness(120%);
}

#form {
  display: flex;
  justify-content: space-between;
  width: 40vh;
}

#inputGuess {
  background-color: #606060c0;
  border: 0.3vh solid #606060;
  font-size: 2.5vh;
  padding: 1vh;
  width: 70%;
  border-radius: 1vh;
}

#inputGuess::placeholder {
  color: #202020;
}

#inputGuess:focus {
  outline: 0;
}

#buttonGuess {
  background-color: #606060c0;
  border: none;
  width: 20%;
  font-size: 2.5vh;
  border-radius: 1vh;
}

#buttonGuess:hover {
  filter: brightness(120%);
}

#divGuesses {
  display: flex;
  flex-direction: column-reverse;
  width: 60vh;
  margin-top: 2vh;
}

.divGuess {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.7vh;
}

.guessChild {
  width: 18.5%;
  aspect-ratio: 1/1;
  border: 0.3vh solid red;
  background-color: #80808080;
  font-size: 2.3vh;
}

div.guessChild {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

img.guessChild {
  object-fit: contain;
}

img.MJ {
  border-color: black;
}

#divOverlay {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: #00000080;
}

#divSummary {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 50px;
}

#divAnswer {
  display: flex;
  gap: 10px;
}

#divAnswerImage {
  width: 160px;
  height: 160px;
  object-fit: contain;
}

#divAnswerName {
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}