* {
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

#divResults {
  display: flex;
  flex-direction: column-reverse;
  width: 236px;
  height: 100px;
  overflow-y: auto;
  margin-top: 100px;
}

#divGuesses {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
  width: 550px;
  margin-top: 25px;
}

.divGuess {
  display: flex;
  justify-content: space-between;
}

.guessChild {
  width: 100px;
  height: 100px;
  border: 2px solid red;
  background-color: #80808080;
  font-weight: bold;
  font-size: 120%;
}

div.guessChild {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

img.guessChild {
  object-fit: contain;
}

img.MJ {
  border-color: black;
}

#divOverlay {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: #000000b0;
}

#divSummary {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 50px;
}

#divAnswer {
  display: flex;
  gap: 10px;
}

#divAnswerImage {
  width: 160px;
  height: 160px;
  object-fit: contain;
}

#divAnswerName {
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#divBackground {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-image: 
    linear-gradient(to top, black 0%, transparent 100%),
    url(../img/background.jpg);
  background-size: 100% 100%, 100% 100%;
}

#divContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}