* {
  user-select: none;
}

#results {
  width: 236px;
  height: fit-content;
  max-height: 100px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

#guesses {
  width: 500px;
  display: flex;
  flex-direction: column-reverse;
}

.guess {
  display: flex;
  justify-content: space-between;
}

.guessChild {
  width: 80px;
  height: 80px;
}