* {
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
}

#results {
  width: 236px;
  height: fit-content;
  max-height: 100px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

#guesses {
  width: 500px;
  display: flex;
  flex-direction: column-reverse;
}

.guess {
  display: flex;
  justify-content: space-between;
}

div.guessChild {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  text-align: center;
}

img.guessChild {
  max-width: 80px;
  max-height: 80px;
  width: auto;
  height: auto;
  object-fit: contain;
}