* {
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
}

div#results {
  width: 236px;
  height: fit-content;
  max-height: 100px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

div#guesses {
  width: 500px;
  display: flex;
  flex-direction: column-reverse;
}

div.guess {
  display: flex;
  justify-content: space-between;
}

div.guessChild {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 2px solid red;
}

img.guessChild {
  max-width: 80px;
  max-height: 80px;
  width: auto;
  height: auto;
  object-fit: contain;
  border: 2px solid red;
}

img.MJ {
  border-color: black;
}