* {
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

#divResults {
  width: 236px;
  height: fit-content;
  max-height: 100px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

#divGuesses {
  width: 500px;
  display: flex;
  flex-direction: column-reverse;
}

.divGuess {
  display: flex;
  justify-content: space-between;
}

div.guessChild {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 2px solid red;
}

img.guessChild {
  width: 80px;
  height: 80px;
  object-fit: contain;
  border: 2px solid red;
}

img.MJ {
  border-color: black;
}

#divOverlay {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: #000000b0;
}

#divSummary {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 50px;
}

#divAnswer {
  display: flex;
  gap: 10px;
}

#divAnswerImage {
  width: 160px;
  height: 160px;
  object-fit: contain;
}

#divAnswerName {
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}